@font-face {
    font-family: 'Bantayog';
    src: url('/fonts/Bantayog-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bantayog Semilight';
    src: url('/fonts/Bantayog-Semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bantayog';
    src: url('/fonts/Bantayog-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

