@import "variables.modules.scss";

html,
body,
main {
  &:has(article.home-page) {
    height: 100vh;
    overflow: hidden;
    min-width: 1300px;
    position: relative;
    overflow-x: auto;

    @include media("<=tablet") {
      min-width: 0 !important;
    }
  }
}
main:has(article.home-page) {
  @include media("<=tablet") {
    margin-top: 0;
    padding-top: 10vh;
  }
}
article.home-page {
  position: absolute;
  padding: 2rem 1.4rem;
  max-width: 40vw;
  min-width: 550px;
  left: 50%;
  top: 50%;

  &.expanded {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-2deg) scale(100%);

    h1,
    h2,
    h3,
    p,
    ul {
      opacity: 1;
      transform: rotate(2deg) translateY(0);
    }
  }

  @include media("<=largephone") {
    overflow-y: auto;
  }

  @include media("<=tablet") {
    position: static;
    padding: 2rem 1.4rem 25vh 1.4rem;
    height: 100vh;
    left: unset;
    top: unset;
    max-width: unset;
    min-width: unset;

    &.expanded {
      transform: scale(100%);

      h1,
      h2,
      h3,
      p,
      ul {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
